<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>
    <center>
        <h1>Clientes Cadastrados</h1>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Telefone</th>
                <th>Endereço</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            {% if cliente %}
                {% for clientes in cliente %}
                    <tr>
                        <td>{{clientes.nome}}</td>
                        <td>{{clientes.idade}}</td>
                        <td>{{clientes.telefone}}</td>
                        <td>{{clientes.endereco}}</td>
                        <td><a href="{% url 'editcliente' clientes.id %}">Editar</a></td>
                        <td><a href="{% url 'deletcliente' clientes.id %}">Remover</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td>Não tem nenhum cliente!</td>
                <th>
            {% endif %}
        </table>
        <br>
        <a href="{% url 'cadastrocliente'%}">Adicionar Cliente</a>
    </center>
</body>
</html>